<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/flights"><p>Welcome to <%= title %></p></a>
    <a href="/flights"><button>View Flights</button></a>
    <a href="/flights"><img src="/images/flight.jpg"></img></a>
     <a href="/flights"><button>View Flights</button></a>
  </body>
</html>
