* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: #B8C0C2;
  border-bottom: solid 3px rgb(57, 90, 100);
  display: flex;
  justify-content: flex-end;
  height: 80px;
  align-items: center;
  padding: 0px 25px 0px 40px;
}
nav > h1 {
 object-fit: contain;
  margin-right: auto;
  color: rgb(252,82,94);
  font-family: 'Monoton', cursive;
  margin-left: 0%;
  padding: 0%;
  font-size: 50px;
}
a {
  color: white;
  font-weight: bold; 
  padding-right: 30px;
}
h2 {
  padding-top: 10px;
  margin-left: 20%;
  font-size: 30px;
}
img {
  border: solid 4px rgb(252, 82,94);
  border-radius: 20px;
  margin-bottom: 20px;
  margin-left: 28px;

 }

 #bookpic {
  height: 50%;
  width: 50%;
  margin-left: 3%;
}

 #new-form {
   margin-left: 15%;

 }

 #new-form *,
 #ticket-form * {
   font-size: 20px;
}

 #ticket-form {
   display: grid;
   margin-top: 5%;
   margin-left: 5%;
 }	
 

 #ticket-form input[type="submit"] {
   margin-left: 10%;
   width: 10rem;
 }	

table {
  font-size: 20px;
  display: grid;
 }

table thead th {
  padding: 0 50px 0 70px;
  border-bottom: 2px solid #424748;
  
}

table td {
  padding: 0 50px 0 65px;
}
td button { 
  background-color: rgb(252, 82,94);
  color: white;
  font-weight: bold;
  border-radius: 8px;
  padding: 8px;

}

#list td:nth-child(2), #list td:nth-child(3){
  min-width: 100px;
}