<%- include('../partials/header') %>
        <h2>Enter a Flight</h2>
        <form id="new-form" action="/flights" method="POST">
            <label>Airline:
                    <select name="airlines">
                            <option value="AA">American Airlines</option>
                            <option value="SW">SouthWest</option>
                            <option value="UNTD">United</option>
                            <option value="JET">Jetblue</option>
                          </select>
            </label><br>
            <label>Flight No:
              <input type="number" name="releaseYear">
            </label><br>
           
            <input type="submit" value="Add Flight">
        </form>
    
        <%- include('../partials/footer') %>